listener "tcp" {
      address= "0.0.0.0:8200"
      tls_disable = 1
 }

 #Storage –
 # 1.     Integrated (raft) storage is used to simply the architecture and to provide HA
 # 2.     Identity of the node

storage "raft" {
  path = "/opt/data"
  node_id = "vault"
}

# Azure key Vault –
# 1.     Vault is registered as a client and uses the client secret to store and retrieve the key
# 2.     Azure key vault replaces shamir key

seal "azurekeyvault" {
  client_id      = "6234c5da-c023-4970-82a9-ced0c39e36ba"
  client_secret  = "l1.9jxQ93toU.yZ~7l2~heugXPjm2.--uO"
  tenant_id      = "f583415f-294d-4c12-ad25-8b06cb6bd39b"
  vault_name     = "ansibletest1"
  key_name       = "vault_key"
}

# Other-
# 1.     Give vault the ability to use the mlock syscall without running the process as root. The mlock syscall prevents memory from being swapped to disk.
# 2.     User interface is enabled
# 3.     Api address is to mention the ip address to which the application listens

disable_mlock="true"
ui="true"
api_addr="http://localhost:8200"
